@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background: #08080f;
    color: #faebd7;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    
  }
  
  .trans {
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
  }
  
  .subClass {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: #0f0f0f;
    transform: translate(0, 100vh);
  }
  .activesubClass {
    transform: translate(0, 0vh);
  }
  .subClass:nth-child(2n) {
    background: #100f1f;
  }
  
  .wave_txt {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    -webkit-animation: wave 1s ease-in-out infinite alternate;
    -webkit-animation-delay: 0.1s;
    font-size:2em;
  }
  p.wave_txt{
    text-align: center;
  }
  
  @-webkit-keyframes wave {
    to {
      text-shadow: 20px 0 70px #ff0266;
      color: #ff0266;
    }
  }
  
  .icon {
    width: 5em;
    height: 5em;
    clip-path: circle(50% at 50% 50%);
    background: rgb(231, 118, 118);
    background: linear-gradient(
      135deg,
      rgba(231, 118, 118, 1) 0%,
      rgba(212, 42, 42, 1) 100%
    );
    margin:1em;
    transform: translate(0,1em)
  }
 #previews {
     margin:2em;
    display: grid; 
    /* grid-template-columns: auto auto auto auto auto;  */
    grid-template-rows: 100%; 
    gap: 0em 0em; 
    grid-template-areas: 
      ". . ."; 
  }
  img {
    padding: 0.25em;
    width: calc(100% - 0.5em);
    height: calc(100% - 0.5em);
    clip-path: circle(45% at 50% 50%);
  }
  .card{
      background:#f0f0fe;
      width: 7em;
      height: 10em;
      border-radius: 1em;
      color:black;
      transform: translate(-50%)
  }
  .name{
      text-align: center;
      transform: translate(0,1em)
  }
  .more{
      text-align: center;
      background: black;
      height:1em;
      padding:1em;
  }
  .cardwrapper {
    width: 50%;
    transform: translate(100%);
}